/*------------ RESET ------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------ Variabili ------------*/

 :root{
    --colore-testo: #fff;
}

/*------------ COMMON ------------*/


/*------------ TAG SEMANTICI ------------*/

