/*------------ RESET ------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------ Variabili ------------*/

 :root{
    --colore-testo: #fff;
}

/*------------ COMMON ------------*/




/*------------ HEADER ------------*/

header{
    position:fixed;
    top: 0;
    right: 0;
}

header nav{
    margin: 20px;
}

header nav li {
    display: inline-block;
    padding: 10px;
}

header nav li a{
    color: inherit;
    text-decoration: none;
    font-weight: 900;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    border: 5px solid lightgrey ;
    background-color: lightgrey;
    border-radius: 50%;
}

header nav li a:active{
    color: black;
}

header nav li a:hover{
    background-color: gray;
}

