/*------------ RESET ------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Bungee', cursive;
}

/*------------ Variabili ------------*/

 :root{
    --colore-testo: #fff;
}

/*------------ COMMON ------------*/

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
}

h2{
    text-transform: uppercase;
    font-size: 65px;
    line-height: 70px;
}




/*------------ HEADER ------------*/

header{
    position:fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

header nav{
    margin: 20px;
}

header nav li {
    display: inline-block;
    padding: 10px;
}

header nav li a{
    color: inherit;
    text-decoration: none;
    font-weight: 900;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    border: 5px solid lightgray;
    background-color: lightgray;
    border-radius: 50%;
}

header nav li a:active{
    color: black;
}

header nav li a:hover{
    background-color: gray;
}

/*------------ MAIN ------------*/

section{
    position: relative;
    height: 100vh;
}

#primo-prodotto {
    background-color: red;
    color: yellow;
}

#secondo-prodotto{
    background-color: green;
    color: yellow;
}

#terzo-prodotto{
    background-color: yellow;
    color: green;
}